<?xml version="1.0" encoding="UTF-8"?>
<plugin 
		xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="at.casephonegap.reboot"
    version="1.0.0">

	<name>reboot</name>
	<description>reboot rooted android device</description>
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>    

	<js-module src="www/reboot.js" name="reboot">
		<clobbers target="reboot" />
	</js-module>
    
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="reboot">   
				<param name="android-package" value="at.casephonegap.reboot.reboot"/>
			</feature>
		</config-file>
		
		<source-file src="src/android/at/casephonegap/reboot/reboot.java" target-dir="src/at/casephonegap/reboot"/>
	</platform>
    
</plugin>   
    
